<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>
      {{ page_title }}{% if current_tags %} – {{ current_tags | join: ', ' }}{% endif %}{% if current_page != 1 %} – {{ 'general.pagination.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} – {{ shop.name }}{% endunless %}
    </title>
    {{ 'theme.css' | asset_url | stylesheet_tag }}
    {{ content_for_header }}
  </head>
  <body class="cc-body">
    <a class="cc-skip-link" href="#MainContent">{{ 'accessibility.skip_to_content' | t }}</a>

    {% section 'header' %}

    <main id="MainContent" role="main">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}

    <script src="{{ 'theme.js' | asset_url }}" defer></script>
    {{ content_for_footer }}
  </body>
</html>

